.mastering-content-container {
  margin: 1rem;

  .mastering-title {
    text-align: center;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
  }

  .mastering-content {
    margin-top: 1rem;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);

    img {
      width: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-bottom: 1rem;
      box-shadow: 15px 10px #000;

      @media only screen and (min-width: 768px) {
        box-shadow: 20px 10px #000;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .mastering-title {
      font-size: 42px;
    }

    .mastering-content {
      margin-top: 3rem;
      width: 75%;
  
      img {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 3rem;
      }
    }
  }
}
